#main-header {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    position: inherit;
}

.content-section:hover {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.content-section {
    background: linear-gradient(to right, #f4f4f4, #e0e0e0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1px #ccc;
    transition: all 0.3s ease;
}

.text-align {
    text-align: center;
}

footer {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    color: white;
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    left: 0;
}